/*----------------
 poppin font
 ------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
/* -----------------
header blogs
---------------------- */
body{
    width: 100%;
    margin: 0;
    color:  #FFFFFF; 
    font-family: 'Poppins', sans-serif;

}
.header-main{
    width:100%px;
    height: 566px;
   background-color: rgb(27, 27, 141);
   
   
    
}
.header-detail{
    width: 1160px ;
    display: flex;
    background-color: rgb(27, 27, 141);
    justify-content: space-between;
    margin-left: 90px;
 
    

}
.header-info a{
    text-decoration: none;
    color:  #FFFFFF; 
    margin: 18px;
}
.header-info{
    margin-top: 40px;
}
header button{
    background-color: #E02C6D;
    border: 1px solid rgb(219, 32, 119);
    height: 30px;
    color:  #FFFFFF; 
    
}
/*---------------------
 header blog 2
 ---------------------- */
 .blogs{
    display: flex;
}
 .blog1{
    width: 445px;
    height: 230px;
     margin-left: 100px;
     margin-top: 15px;
     font-size: 38px;
 }
 .blog1 button{
     position: absolute;
     width: 160px;
     height: 44px;
     left: 106px;
     top: 410px;
 }
 .blog2{
    width: 438px;
    height: 438px;
margin-left: 156px;}
.blogs:hover{
    background-color: rgb(82, 82, 247);
    color: rgb(54, 58, 55);
    
}
.blog1 a{
    text-decoration: none;
    color: #FFFFFF ;
}
.blog2 img{
    width: 510px;
    height: 438px;
}
/*---------------- 
player blog
------------------- */

.player h1 {
color: rgb(19, 17, 17);
font-size: 27px;
}
.player p{
    color: rgb(105, 102, 102);
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    margin-top: 70px;
    margin-left: 140px;
    margin-right: 100px;
    margin-bottom: 20px;

}
.player{
grid-column-gap: 27px;

    margin-bottom: 27px;
    width: 325px;
    height: 474px;
    border: 1px solid white;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 10px;
}
.player img{
    width: 95%;
    margin-left: 8px;
    margin-right: 10px;
}
/*-------------------------
 end blog
 ----------------------- */
 
 .end-blogs{
     display: flex;
    margin-top: 100px;
    margin-bottom: 150px;
 }
.end-blog1{
    width: 466px;
    height: 306px;
    margin-left: 182px;
    margin-right: 50px;

}
.end-blog2{
    width: 567px;
    height: 447px;
}
 .end-blogs img{
  width: 567px;
  height: 447px;

 }
 .end-blog1 h1 {
     color: black;
     font-size: 45px;

 }

 .end-blog1 p{
     color: rgb(105, 102, 102);
 }

 .end-blog1 a{
     text-decoration: none;
     color:#FFFFFF ;
 }
 .button2{
    background-color: #E02C6D;
    border: 1px solid rgb(219, 32, 119);
    height: 30px;
    color:  #FFFFFF; 
    
 }
 /*------------------- 
 footer blog
 ------------------- */

 
 .football-logo{
    width: 483.87px;
    margin-left: 450px;
    margin-bottom: 0px;

    
 }
 .football-logo img{
     width: 100%;}

     .icons{
         display: flex;
         margin-left: 600px;
     }
     .icons a{
         color: gray;
         margin-left: 20px;
    
     }
     footer{
         color: black;
         text-align: center;
         margin-bottom: 50px;
         margin-top: 20px;
     }
     

     
 

 /*-----------------
  extra-blog 
  -----------------*/
 

 .extra-blog img{
     width: 100%;
     height: 500px;
 }
 .extra-blog h1{
     color: black;
     background-color: blanchedalmond;
     width: 50%;
     height: 70px;
     text-align: center;
    margin-left: 300px;
    margin-bottom: 50px; 
    padding-top: 20px;
    border: 1px solid palevioletred;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(240, 138, 201), 10px 10px 30px blue;
    }

    h1:hover{
        background-color: blue;
        color: white;
    }



/*-------------------
 media query
 ---------------------- */

@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }

    
    .players, .blogs, .end-blogs, header, .blog-logo, footer{
         display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
    .blog1, .blog2, .player, .football-logo{
        flex-direction: column;
    }
}
  @media only screen and (min-width:688px) and (max-width:992px) {
    .players, .blogs, .end-blogs, header, .blog-logo, footer{
        display: grid;
   grid-template-columns: repeat(2, 1fr);
   }
   .blog1, .blog2, .player, .football-logo{
       flex-direction: column;
   }
   header{
       justify-content: center;
   }

   
}  
